In [72]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

Requirement already satisfied: numpy in c:\users\hm\anaconda3\lib\site-packages (1.16.2)
Requirement already satisfied: pandas in c:\users\hm\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\hm\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\hm\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in c:\users\hm\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: six>=1.5 in c:\users\hm\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [78]:
import pandas as pd
import numpy as np
import re
import string
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [79]:
df_fake = pd.read_csv(r"C:\Users\hm\Desktop\Fake.csv")
df_true = pd.read_csv(r"C:\Users\hm\Desktop\true.csv")

In [80]:
df_fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [81]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [82]:
#CLASSIFY NEWS BY NUMERICAL VALUE
df_fake["class"] = 0    #FOR FAKE NEWS
df_true["class"] = 1    #FOR TRUE NEWS

In [83]:
df_fake.shape , df_true.shape

((23481, 5), (21417, 5))

In [84]:
# Manual Testing of 10 Rows from Each dataset
df_fake_manual_testing = df_fake.tail(10)  
for i in range(23480,23470,-1):
    df_fake.drop([i], axis=0, inplace=True)
    
df_true_manual_testing = df_true.tail(10)    
for i in range(21416,21406,-1):             
    df_true.drop([i],axis=0,inplace=True)

In [85]:
#MERGING ABOVE TWO DATASETS IN A NEW CSV FILE
df_manual_testing = pd.concat([df_fake_manual_testing, df_true_manual_testing], axis=0)   #axis 0 means rowwise merging
df_manual_testing.to_csv("manual_testing.csv")    #To Save new file manual_testive as csv

In [86]:
df_marge = pd.concat([df_fake, df_true], axis=0)    # Merging both main datasets.
df_marge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [87]:
#Dropping Title, Subject, Date columns from the dataset
df=df_marge.drop(["title","subject","date"], axis=1)     #Axis=1 means columnwise dropping.
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [88]:
#Lets Shuffle the Dataset
df = df.sample(frac=1)

In [89]:
df.head(10)

                                                    text  class
5634   Whenever Donald Trump has the opportunity to s...      0
12559  Hillary gives pay-to-play a whole new meaning ...      0
13600  BERLIN (Reuters) - Germany strongly condemns N...      1
3102   BEIJING (Reuters) - China said on Wednesday it...      1
3492   PORT-AU-PRINCE (Reuters) - U.S. Homeland Secur...      1
7236   At 2:40 PM today, an unidentified male entered...      0
19927  This is just idiotic! A couple of liberal brai...      0
2449    (Note: Strong language in paragraph 3) By Ste...      1
9829   NEW YORK (Reuters) - U.S. Democratic president...      1
18353  MOSCOW (Reuters) - President Vladimir Putin sa...      1

In [90]:
#Checking NULL Value is Present or not 
df.isnull().sum()

text     0
class    0
dtype: int64

In [93]:
#REMOVE SPECIAL CHARACTERS AND UNECESSARY CHARACTERS
def word_drop(text):
    text = text.lower()
    text= re.sub('\[.*?\]','', text)
    text= re.sub("\\W"," ", text)
    text = re.sub( 'https?://\S+|www\.\S+','', text)
    text = re.sub('<.*?>+','', text)
    text= re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text= re.sub('\n','', text)
    text= re.sub('\w*\d\w*','', text)
    return text

In [94]:
#Convert Text using Function
df["text"] = df["text"].apply(word_drop)

In [95]:
df.head(10)

                                                    text  class
5634   whenever donald trump has the opportunity to s...      0
12559  hillary gives pay to play a whole new meaning ...      0
13600  berlin  reuters    germany strongly condemns n...      1
3102   beijing  reuters    china said on wednesday it...      1
3492   port au prince  reuters    u s  homeland secur...      1
7236   at   pm today  an unidentified male entered th...      0
19927  this is just idiotic  a couple of liberal brai...      0
2449     note  strong language in paragraph   by stev...      1
9829   new york  reuters    u s  democratic president...      1
18353  moscow  reuters    president vladimir putin sa...      1

In [96]:
# 
x = df["text"]
y = df["class"]

In [97]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25) # Taking 25% data as test set

In [105]:
!pip install sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: scikit-learn in c:\users\hm\anaconda3\lib\site-packages (from sklearn) (0.20.3)
Requirement already satisfied: scipy>=0.13.3 in c:\users\hm\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.2.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\hm\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.16.2)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Stored in directory: C:\Users\hm\AppData\Local\pip\Cache\wheels\76\03\bb\589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [106]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [108]:
#Vectorising X variable
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [109]:
#LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression

In [111]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

C:\Users\hm\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [112]:
#Check Accuracy
LR.score(xv_test, y_test)

0.9888591800356507

In [113]:
#Classification Report
pred_LR = LR.predict(xv_test)

In [114]:
print(classification_report(y_test,pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5900
           1       0.99      0.99      0.99      5320

   micro avg       0.99      0.99      0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [116]:
#DECISION TREE
from sklearn.tree import DecisionTreeClassifier

In [117]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [118]:
DT.score(xv_test, y_test)

0.9949197860962566

In [120]:
pred_DT = DT.predict(xv_test)
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5900
           1       1.00      0.99      0.99      5320

   micro avg       0.99      0.99      0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [126]:
#GRADIENT BOOSTING CLASSIFIER
from sklearn.ensemble import GradientBoostingClassifier

In [127]:
GBC = GradientBoostingClassifier()
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [128]:
GBC.score(xv_test, y_test)

0.9952762923351158

In [129]:
pred_GBC = GBC.predict(xv_test)
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5900
           1       0.99      1.00      1.00      5320

   micro avg       1.00      1.00      1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [136]:
# RANDOM FOREST CLASSIFIER
from sklearn.ensemble import RandomForestClassifier

In [137]:
RFC = RandomForestClassifier()
RFC.fit(xv_train, y_train)

C:\Users\hm\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [138]:
RFC.score(xv_test, y_test)

0.9635472370766488

In [140]:
pred_RFC = RFC.predict(xv_test)
print(classification_report(y_test, pred_RFC))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97      5900
           1       0.98      0.94      0.96      5320

   micro avg       0.96      0.96      0.96     11220
   macro avg       0.97      0.96      0.96     11220
weighted avg       0.96      0.96      0.96     11220

In [143]:
#MANUAL TESTING OF NEWS

def output_lable(n):
    if n == 0:
        return "FAKE NEWS"
    elif n == 1:
        return "TRUE NEWS"

def manual_testing (news):
    testing_news= {"text":[news]}
    new_def_test= pd.DataFrame(testing_news)
    new_def_test["text"]= new_def_test["text"].apply(word_drop)
    new_x_test= new_def_test["text"]
    new_xv_test = vectorization. transform(new_x_test)
    pred_LR = LR.predict (new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)
    
    return print("\n\n LR Prediction: {} \n DT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR),
                                                                                                                output_lable(pred_DT),
                                                                                                                output_lable(pred_GBC),
                                                                                                                output_lable(pred_RFC)))

In [144]:
news = str(input())
manual_testing(news)

Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.


 LR Prediction: FAKE NEWS
 DT Prediction: FAKE NEWS
GBC Prediction: FAKE NEWS
RFC Prediction: FAKE NEWS